<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
  </head>
  <body>
    {% if name %}
    <h1>Showing results for "{{ name }}"</h1>
    {% elif location %}
    <h1>Showing results for "{{ location }}"</h1>
    {% else %}
    <h1>Showing all results</h1>
    {% endif %} {% load static %} {% for item in spots %}
    <h1>{{item.name}}</h1>
    {% endfor %} {% for item in service2 %}
    <p>{{item.name}}</p>
    {% endfor %}
  </body>
</html>
